body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #222;
            color: white;
            text-align: center;
            padding: 31px;
        }

        nav {
            background-color: #444;
            text-align: center;
            padding: 10px;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 15px;
            font-weight: bold;
        }

        nav a:hover {
            color: rgb(168, 168, 11);
            opacity: 0.9;
        }

        section {
            padding: 40px;
            text-align: center;
        }

        .box {
            background: white;
            padding: 20px;
            margin: 20px auto;
            width: 60%;
            border-radius: 10px;
            box-shadow: 0px 0px 10px gray;
        }

        footer {
            background-color: #222;
            color: white;
            text-align: center;
            padding: 15px;
        }
        .profile{
        border: #f4f4f4 3px solid;
          top: 10px;
          position: absolute;
          left: 400px;;
          width: 150px;
          border-radius: 100%;
        }